.card {
    width: 100%;
    box-shadow: 1px 2px 3px 2px #888888;
    border: none;
}

.card .card-img {
    height: 20rem;
    overflow-y: hidden;
}

.card-img img {
    width: 100%;
}

.card-info {
    padding: 8px 20px;
}

.card-info .character-occupation-list {
    list-style-type: square;
    text-indent: 1rem;
}