* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
  color: white;
}
.main-wrapper {
  width: 90%;
  padding: 1rem 4rem;
  margin: 0 auto;
}
